
body {
    margin: 0;
    padding: 0;
    font-family: fantasy, arial;
}
canvas{
    background-color: #f4f4f4;
    box-shadow:0 0 5px #999;
    display:block;
    margin: 0 auto;
    position: relative; 
    max-width: 100%;
}
#wrapper{
    margin:auto;
    position:relative;
    text-align:center;
}
#controls{    
    background: #eee;
    min-height: 60px;
    display: flex;
    margin: 0 auto 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 800px;
    max-width: 100%;
}
#controls label{
    display: block;
}
#controls input{
    border:solid 1px #ccc;
    padding: 4px;
    height: 20px;
    width: 76px;
}
#images > div{
    float:left;
    text-align:center;
    width:220px
}
header{
    background-color: rgb(46, 95, 151);
    box-shadow: 0 1px 3px rgb(23, 57, 95);
    height:60px;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
h1{
    line-height: 30px;
    margin: 0;
}
img{
    box-shadow: 1px 1px 3px #ddd;
    display: inline-block;
    margin: 10px 10px 0;
}